<br><br><br>
<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div id="input">
    <h2>{{firstname}} {{lastname}}</h2>
    </div>
<input type="hidden" name="signature" id="hidden-input"></input>
<canvas id="canvas" width="600" height="80">
</canvas>
<div id="button1">
    <button id="clear">Clear</button>
</div>
<div id="button2">
    <button id="submit">Submit</button>
</div>
</div>
</div>
</form>
