<div id="background">
    <div id="division">
        <img id="monkey" src="http://www.pngall.com/wp-content/uploads/2016/06/Monkey-Free-Download-PNG.png">
        <img id="tiger" src="http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Animals-PNG/Tiger_PNG_Clipart_Picture.png?m=1377122400">
        <div id="menubar">
            <div id="edit">
                <a href="/edit">Edit profile</a>
            </div>
            <div id="logout">
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div id="title">
            <div id="ban">BAN</div> <img src="https://stjamesfriends.files.wordpress.com/2014/07/banner-circus.png">
        </div>
    </div>
    <div id="container">
        <div id="description">
            <p>To force animals to perform, circus trainers abuse them with whips, tight collars, muzzles, electric prods, bullhooks (heavy batons with a sharp steel hook on one end), and other painful tools of the circus trade. Video footage of animal training sessions shows that elephants are beaten with bullhooks and shocked with electric prods. Circuses easily get away with such routine cruelty because the government doesn’t monitor training sessions and handlers are cautious when they’re in public.
            </p>
        </div>
        <!-- <img src="http://www.clipartqueen.com/image-files/animal-clip-art-circus-horse.png"> -->
