<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="failure.css">
        <meta charset="utf-8">
        <title>Success</title>
    </head>
    <body>
        {{>upper}}
        <h2>Please try again!</h2>
        {{>lower}}
    </body>
    <script src="canvas.js"></script>
    <script src="index.js"></script>
</html>
