<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <title>Petition</title>
    </head>
    <body>
        {{>upper}}

        {{>lower}}

    </body>
    <script src="canvas.js"></script>
</html>
